@inherits LayoutComponentBase

<div class="main">

    <div class="container">


        <div class="content border shadow-lg bg-white rounded mt-5" style="padding-top: 0;">
            @Body
        </div>
    </div>
</div>
